torch~=2.5.1
tensordict>=0.4.0
setuptools~=75.8.0
matplotlib~=3.10.0
seaborn
pandas~=2.2.3
black>24.3.0
ufmt==2.0.0
usort==1.0.4
tqdm~=4.67.1
pyyaml~=6.0.2
pytest~=8.3.4
openpyxl
networkx~=3.4.2
numpy~=2.2.3
scipy~=1.15.2
scikit-learn~=1.6.1
